ENV="dev|prod"
OPENAI_API_KEY = "real key for openai"
COHERE_API_KEY= "your key"

# To point to local postgres docker while running from a container
# use this string when running alembic
# POSTGRES_CONNECTION_STRING = "postgresql://myuser:mypassword@host.docker.internal:5432/ragdb"

# When running the server, use this string:
# POSTGRES_CONNECTION_STRING = "postgresql+asyncpg://myuser:mypassword@host.docker.internal:5432/ragdb"

EXTERNAL_API_BASE_URL="http://localhost:8081"
POSTGRES_CONNECTION_STRING = "postgresql+asyncpg://myuser:mypassword@localhost:5432/ragdb"
OPENAI_MODEL = "gpt-3.5-turbo"
AWS_REGION= "us-east-1"
AWS_DEFAULT_REGION="us-east-1"
AWS_BUCKET="bucket name"
AWS_ACCESS_KEY_ID="your key"
AWS_SECRET_ACCESS_KEY="your secret key"
SECRET_KEY="generate with openssl rand -hex 32"
ALGORITHM="HS256"
HTTPS=true
multitenant=true
RERANK=true